.main-wrapper {
    display: grid;
    width: 1500px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 10fr;
    /*grid-gap: 10px;*/
}
