.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog a {
    color: black;
    text-decoration: none;
}

.dialog a.activeLink {
    color: whitesmoke;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.messageItem {
    color: lawngreen;
}
